# --- User Specific ---
setup_folders.py

# --- C++ Build Artifacts ---
# Windows Executables
*.exe
*.obj
*.pdb
*.ilk

# Mac/Linux Executables and Objects
*.out
*.app
*.o

# --- IDE Settings (VS Code) ---
.vscode/
.idea/

# --- OS System Files ---
.DS_Store
Thumbs.db
bin/Debug/net8.0/LeetCodeRepo.deps.json
bin/Debug/net8.0/LeetCodeRepo.dll
bin/Debug/net8.0/LeetCodeRepo.runtimeconfig.json
LeetCodeRepo/obj/LeetCodeRepo.csproj.nuget.dgspec.json
LeetCodeRepo/obj/LeetCodeRepo.csproj.nuget.g.props
LeetCodeRepo/obj/LeetCodeRepo.csproj.nuget.g.targets
LeetCodeRepo/obj/project.assets.json
LeetCodeRepo/obj/project.nuget.cache
obj/LeetCodeRepo.csproj.nuget.dgspec.json
obj/LeetCodeRepo.csproj.nuget.g.props
obj/LeetCodeRepo.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/LeetCodeRepo.AssemblyInfo.cs
obj/Debug/net8.0/LeetCodeRepo.AssemblyInfoInputs.cache
obj/Debug/net8.0/LeetCodeRepo.assets.cache
obj/Debug/net8.0/LeetCodeRepo.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/LeetCodeRepo.csproj.FileListAbsolute.txt
obj/Debug/net8.0/LeetCodeRepo.dll
obj/Debug/net8.0/LeetCodeRepo.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/LeetCodeRepo.genruntimeconfig.cache
obj/Debug/net8.0/LeetCodeRepo.GlobalUsings.g.cs
obj/Debug/net8.0/ref/LeetCodeRepo.dll
obj/Debug/net8.0/refint/LeetCodeRepo.dll
LeetCodeRepo.csproj
